// Start of container styles
.page-wrapper {
    background-color: #fff;
    position: relative;
    min-height: 100%;
    height: auto !important;
    margin: 0px 0px -31px 0px;
    width: 100%;
}
// End of container styles
