// 1. Variables

// Import any Google Webfonts, Font-Awesome icons, etc here
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

// 1. Global Variables
// - - - - - - - - - - - - - - -
// This sets 1rem to be 16px
$rem-base: 14px;
// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 20px;
$body-antialiased: true;
// We use these to make sure border radius matches unless we want it different.
$global-radius: 4px;
$global-rounded: 1000px;
// We use this for default spacing
$global-padding: 1rem;
$global-spacing: rem-calc(15); 



// Font Variables
// - - - - - - - - - - - - - - -
// We use these to control various global styles
// We use these to define default font weights
// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$body-font-family:  "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$body-font-style: normal;
$font-weight-normal: normal;
$font-weight-bold: bold;
$body-font-weight: $font-weight-normal;
$body-background: #fff;
$body-font-color: #333;



// Typography Variables
// - - - - - - - - - - - - - - -
// Text selector helpers
$headers: "h1,h2,h3,h4,h5,h6";
// Application Colors
$primary-color: #00558b;
$secondary-color: #f1f1f1;
$alert-color: #F04124;
$info-color: #A0D3E8;
$success-color: #43AC6A;
$warning-color: #F08A24;
$dark-color: #232323;
$gray: #dfdfdf;
$gray-dark: darken($gray, 8);
$gray-light: lighten($gray, 8);



// Grid Variables
// - - - - - - - - - - - - - - -
$container-width: rem-calc(900);
$block-padding: $global-padding;
$total-columns: 12;
$block-grid-max-size: 6; 



// Breakpoints Variables
// - - - - - - - - - - - - - - -
// These are our named breakpoints. You can use them in our breakpoint function like this: @include breakpoint(medium) { // Medium and larger styles }
$breakpoints: (
  small: rem-calc(0),
  medium: rem-calc(640),
  large: rem-calc(1200),
  xlarge: rem-calc(1440),
  xxlarge: rem-calc(1920),
);
// All of the names in this list will be output as classes in your CSS, like small-12, medium-6, and so on.
// $breakpoint-classes: (small medium large);