/* Sprite Styles */

.sprite-logo-domco {
    background-position: 0 -924px;
    width: 239px;
    height: 23px;
}

.login-images {
    background-image: url("../img/sprites/logo_sprites.png");
    margin: auto;
}

.vitacon {
    background: url('../img/sprites/sprites_reg_2.svg') no-repeat;
}
