.sprite-SA_back {
    background-position: 0 0;
    width: 78px;
    height: 22px;
}
.sprite-apple-touch-icon-114x114-precomposed {
    background-position: 0 -72px;
    width: 114px;
    height: 114px;
}
.sprite-apple-touch-icon-57x57-precomposed {
    background-position: 0 -236px;
    width: 57px;
    height: 57px;
}
.sprite-apple-touch-icon-72x72-precomposed {
    background-position: 0 -343px;
    width: 72px;
    height: 72px;
}
.sprite-apple-touch-icon-precomposed {
    background-position: 0 -465px;
    width: 57px;
    height: 57px;
}
.sprite-apple-touch-icon {
    background-position: 0 -572px;
    width: 57px;
    height: 57px;
}
.sprite-email {
    background-position: 0 -679px;
    width: 28px;
    height: 30px;
}
.sprite-favicon {
    background-position: 0 -759px;
    width: 64px;
    height: 64px;
}
.sprite-login_bg {
    background-position: 0 -873px;
    width: 6px;
    height: 1px;
}
.sprite-logo-domco {
    background-position: 0 -924px;
    width: 239px;
    height: 23px;
}
.sprite-pass {
    background-position: 0 -997px;
    width: 28px;
    height: 30px;
}
.sprite-top-bar {
    background-position: 0 -1077px;
    width: 1px;
    height: 40px;
}
.sprite-vita {
    background-position: 0 -1167px;
    width: 231px;
    height: 80px;
}
.sprite-vita_sm {
    background-position: 0 -1297px;
    width: 80px;
    height: 80px;
}
.login-images {
    background-image: url("../img/sprites/logo_sprites.png");
    margin: auto;
}
