// Start of carousel styles for domco-template.html
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0px;
}
.carousel-indicators .active {
    background-color: rgb(255, 255, 255);
}
// End of carousel styles for domco-template.html







