// Start of icon styles for domco-template.html
[class*=" icon-"], [class^="icon-"] {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
[class*=" icon-"]::before, [class^="icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
a [class*=" icon-"], a [class^="icon-"] {
    display: inline;
}
[class*=" icon-"].hide, [class^="icon-"].hide {
    display: none;
}
[class*=" icon-"].pull-left, [class^="icon-"].pull-left {
    margin-right: 0.3em;
}
[class*=" icon-"].pull-right, [class^="icon-"].pull-right {
    margin-left: 0.3em;
}
[class*=" icon-"], [class^="icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    margin-top: 0px;
    background-image: none;
    background-position: 0px 0px;
    background-repeat: repeat;
}
.icon-spin {
    display: inline-block;
    -webkit-animation: spin 2s linear infinite;
    -webkit-animation-play-state: initial;
}
a .icon-spin, a .icon-stack {
    display: inline-block;
    text-decoration: none;
}
.dropdown-menu > .active > a > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .icon-white, .nav-list > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"] {
    background-image: none;
}
[class*=" glyphicon-"], [class^="glyphicon-"] {
    font-family: Glyphicons;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}
[class*=" glyphicon-"]::before, [class^="glyphicon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
[class*=" glyphimg-"], [class^="glyphimg-"] {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: top;
    background-image: url(https://www.domco.us/vita13/assets/img/glyphicons.pro/glyphicons.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
[class*=" halflingicon-"], [class^="halflingicon-"] {
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
[class*=" halflingicon-"]::before, [class^="halflingicon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
[class*=" halflingimg-"], [class^="halflingimg-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    background-image: url(https://www.domco.us/vita13/assets/img/glyphicons.halflings.pro/glyphicons_halflings.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
[class*=" gemicon-small-"], [class^="gemicon-small-"] {
    margin-top: 1px;
    line-height: 16px;
    vertical-align: text-top;
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    background-image: url(https://www.domco.us/vita13/assets/img/gemicon.icons/grey_16x16.png);
    background-repeat: no-repeat;
}
[class*=" gemicon-medium-"], [class^="gemicon-medium-"] {
    margin-top: 1px;
    line-height: 32px;
    vertical-align: text-top;
    display: inline-block !important;
    width: 32px !important;
    height: 32px !important;
    background-image: url(https://www.domco.us/vita13/assets/img/gemicon.icons/grey_32x32.png);
    background-repeat: no-repeat;
}
[class*=" gemicon-big-"], [class^="gemicon-big-"] {
    margin-top: 1px;
    line-height: 64px;
    vertical-align: text-top;
    display: inline-block !important;
    width: 64px !important;
    height: 64px !important;
    background-image: url(https://www.domco.us/vita13/assets/img/gemicon.icons/grey_64x64.png);
    background-repeat: no-repeat;
}
/* Icon Set List */

.iconset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.iconset-list li {
    padding: 5px;
    margin: 0 10px 10px 0;
    float: left;
    width: 200px;
    text-align: center;
}
.iconset-list i {
    line-height: normal;
    margin: 10px 0;
    font-size: 32px;
    color: #999;
}
.iconset-list code {
    display: block;
    margin: 5px;
}
.iconset-list-dark li {
    background: #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
// End of icon styles for domco-template.html