// Start of domco-template.scss sprite styles
.vitacon {
    background: url("../img/sprites/sprites_reg_2.svg") no-repeat;
}
.search {
    background-position: 0 0px;
    width: 17px;
    height: 18px;
}
.search-active {
    background-position: -19px 0;
    width: 17px;
    height: 18px;
}
.user {
    background-position: 0 -24px;
    width: 16px;
    height: 15px;
}
.user-active {
    background-position: -20px -24px;
    width: 16px;
    height: 15px;
}
.password {
    background-position: 0 -43px;
    width: 16px;
    height: 8px;
}
.password-active {
    background-position: -18px -44px;
    width: 15px;
    height: 8px;
}
.gear {
    background-position: 0 -82px;
    width: 13px;
    height: 14px;
}
.gear:hover {
    background-position: 0 -98px;
    width: 13px;
    height: 13px;
}
.trash {
    background-position: 0 -114px;
    width: 13px;
    height: 15px;
}
.trash:hover {
    background-position: 0 -138px;
    width: 12px;
    height: 15px;
}
.leftarrow {
    background-position: -37px -78px;
    width: 32px;
    height: 34px;
    transform: scale(0.7);
}
.leftarrow:hover {
    background-position: -37px -39px;
}
.rightarrow {
    background-position: -73px -38px;
    width: 32px;
    height: 34px;
    transform: scale(0.7);
}
.rightarrow:hover {
    background-position: -74px -78px;
}
.checkmarkButton {
    background-position: 0 -160px;
    width: 129px;
    height: 32px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmarkButton:active {
    background-position: 0 -196px;
    width: 129px;
    height: 32px;
    color: #FFF;
}
.xButton {
    background-position: 0 -231px;
    width: 129px;
    height: 32px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.xButton:active {
    background-position: 0 -267px;
    width: 129px;
    height: 31px;
    color: #FFF;
}
.usbButton {
    background-position: 0 -301px;
    width: 129px;
    height: 32px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.usbButton:active {
    background-position: 0 -334px;
    width: 129px;
    height: 31px;
    color: #FFF;
}
.add {
    background-position: -41px -2px;
    width: 31px;
    height: 31px;
}
.remove {
    background-position: -73px -1px;
    width: 31px;
    height: 31px;
}
.calendar {
    background-position: 0 -56px;
    width: 21px;
    height: 21px;
}
.lineBreak {
    background-image: url("../img/sprites/linebreak.svg");
    background-repeat: repeat-x;
    background-attachment: inherit;
    background-position: 0 50%;
    background-size: 2px 2px;
    margin: auto;
    width: 90%;
}
.vita-form input[type="text"], .vita-form input[type="password"], .vita-form input[type="email"] {
    background-color: #FFF;
    border: 1px solid #ADADAD;
    border-radius: 3px;
    height: 22px;
    width: 200px;
}
.vita-form input[type="text"]:focus, .vita-form input[type="password"]:focus, .vita-form input[type="email"]:focus {
    border-color: #505050;
}
.vita-form input[type="radio"], .vita-form input[type="checkbox"] {
    display: none;
}
.vita-form input[type="checkbox"] + label, .vita-form input[type="radio"] + label {
    color: #505050;
}
.vita-form input[type="checkbox"] + label span {
    display: inline-block;
    background: url("../img/sprites/sprites_reg_2.svg") no-repeat -86px -118px;
    width: 15px;
    height: 14px;
    cursor: pointer;
    margin: 0 1px -2px 2px;
}
.vita-form input[type="checkbox"]:checked + label span {
    background: url("../img/sprites/sprites_reg_2.svg") no-repeat -86px -135px;
}
.vita-form input[type="radio"] + label span {
    display: inline-block;
    background: url("../img/sprites/sprites_reg_2.svg") no-repeat -105px -118px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0px 2px -2px 1px;
}
.vita-form input[type="radio"]:checked + label span {
    background: url("../img/sprites/sprites_reg_2.svg") no-repeat -105px -134px;
}
.sprite-input-container {
    margin: 0;
    padding: 0;
    width: auto;
    position: absolute;
    top: 10px;
    right: -9px;
}
.sprite-input-container .sprite-container {
    border-left: 1px solid #505050;
    width: 21px;
    height: 18px;
    float: right;
    position: relative;
    top: 4px;
    right: 24px;
}
.sprite-input-container .sprite-container div {
    left: 3px;
    position: relative;
}
.sprite-input-container .sprite-container .user {
    left: 4px !important;
    top: 1.5px !important;
}
.sprite-input-container .sprite-container .password {
    left: 4px !important;
    top: 4.6px;
}
.sprite-input-container .sprite-container .user-active {
    left: 4px !important;
    top: 0.5px !important;
}
.sprite-input-container .sprite-container .password-active {
    left: 4px !important;
    top: 4.6px;
}
.sprite-input-container .sprite-container .calendar {
    bottom: 2px;
    left: 2px !important;
}
// End of domco-template.scss sprite styles