<!-- Start of #current-filters (vita-list left) .header div -->
<!-- Correlates with the "Filters" tab -->
<div id="current-filters" class="vita-list left">

    <!-- Start of #current-filters header (vita-list left) div -->
    <div class="header">
        <span>Current Filters</span>
    </div>
    <!-- End of #current-filters (vita-list left) .header div -->

    <!-- Start of #current-filters (vita-list left) .content div -->
    <div class="content">
        <ul class="interactive">
            <li>Filter 1</li>
            <li>Local to Zip</li>
            <li>Local to Zip</li>
        </ul>
    </div>
    <!-- End of #current-filters (vita-list left) .content div -->

    <!-- Start of #current-filters (vita-list left) .footer div -->
    <div class="footer">
        <!-- Start of .vitacon .usbButton div -->
        <div class="vitacon usbButton">
            <span>Save</span>
        </div>
        <!-- End of .vitacon .usbButton div -->
    </div>
    <!-- End of #current-filters (vita-list left) .footer div -->
    
</div>
<!-- End of #current-filters div (vita-list left) -->
