<!-- Start of #filter-operation div -->
<div id="filter-operation">

    <!-- Start of #select-operation div -->
    <div id="select-operation">

        <!-- Start of #select-lineBreak (.double-lineBreak) div -->
        <div id="select-lineBreak" class="double-lineBreak">
            <span>Select Operation</span>
        </div>
        <!-- End of #select-lineBreak (.double-lineBreak) div -->

        <!-- Start of #select-container div -->
        <div id="select-container">

            <!-- Start of #vita-select div -->
            <div id="vita-select">
                <div class="dropdown-button">
                    <span class="arrow"><span class="inner-arrow"></span></span>
                </div>
            </div>
            <!-- End of #vita-select div -->

            <!-- Start of #vita-dropdown div -->
            <div id="vita-dropdown">
                <div class="dropdown-arrow"></div>
                <ul class="dropdown-list">
                    <li>
                        <span>something</span>
                    </li>
                    <li>
                        <span>woot</span>
                    </li>
                    <li>
                        <span>jimbob</span>
                    </li>
                    <li>
                        <span>rules</span>
                    </li>
                    <li>
                        <span>tips</span>
                    </li>
                    <li>
                        <span>rockness</span>
                    </li>
                    <li>
                        <span>Hillbilly</span>
                    </li>
                    <li>
                        <span>Smokes</span>
                    </li>
                </ul>
            </div>
            <!-- End of #vita-dropdown div -->

        </div>
        <!-- End of #select-container div -->

    </div>
    <!-- End of #select-operation div -->

    <!-- Start of #provide-criteria div -->
    <div id="provide-criteria">
        <!-- Start of #criteria-lineBreak (.double-lineBreak) div -->
        <div id="criteria-lineBreak" class="double-lineBreak">
            <span>Provide Criteria</span>
        </div>
        <!-- End of #criteria-lineBreak (.double-lineBreak) div -->
        <input type="text" placeholder="Value">
    </div>
    <!-- End of #provide-criteria div -->

</div>
<!-- End of #filter-operation div -->
