<ul id="query-tabs" clas="nav nav-tabs">
    <li>
        <div>
            <span>Columns</span>
            <img class="tab-img" src="http://placehold.it/30x30">     
        </div>
    </li>
    <li>
        <div>
            <span>Filters</span>
            <img class="tab-img" src="http://placehold.it/30x30">   
        </div>
    </li>
    <li>
        <div>
            <span>Layouts</span>
            <img class="tab-img" src="http://placehold.it/30x30">   
        </div>
    </li>
    <li>
        <div>
            <span>Permissions</span>
            <img class="tab-img" src="http://placehold.it/30x30">   
        </div>
    </li>
</ul>