#select-column-container {
    padding: 40px 30px 35px 30px;
    max-width: 640px;
}
#select-column-container hr, 
#select-column-container h3 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}